
@model FaithAG.Models.ResetAllPasswords
@{
    /**/

    ViewBag.Title = "Reset password";
}

<br />
<br />

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetAllPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <h4>Reset Users password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })   
    <p style="color:blue;"> @TempData["SuccessMessage"]</p>


        <div class="form-group">
            @Html.LabelFor(m => m.UserID, "User", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", (SelectList)ViewBag.UserIDn, "---Select One---", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                <input type="submit" class="btn btn-primary" value="Reset" />
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
                @Html.ActionLink("Cancel", "Index", "Home",null, new { @class = "btn btn-primary" })
            </div>
        </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

