@model IEnumerable<FaithAG.Models.Departmental>

@{
    ViewBag.Title = "List of Departmentals";
    var grid = new System.Web.Helpers.WebGrid(Model, rowsPerPage: 15,
                   defaultSort: "name");
}



<style type="text/css">
    .webgrid {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
    }

    .header {
        padding: 6px 5px;
        text-align: center;
        background-color: #e8eef4;
        border-bottom: 2px solid #3966A2;
        height: 40px;
        font-weight: bold;
        border-top: 2px solid #D6E8FF;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
    }

    .webgrid th, .webgrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #E8E8E8;
        color: #000;
    }

    .product {
        width: 50px;
        font-weight: bold;
    }
</style>
<br />
<br />
<h2 style="font-weight:bolder;">@ViewBag.Title</h2>


@if (Model.Count() > 0)
{


    @grid.GetHtml(tableStyle: "webgrid",
     alternatingRowStyle: "alternate-row",
     headerStyle: "header",
     footerStyle: "grid-footer",
     mode: WebGridPagerModes.All,
     firstText: "<< First",
     previousText: "< Prev",
     nextText: "Next >",
     lastText: "Last >>",
     columns: new[] {
     grid.Column("Id",header: "ID", canSort: false),
     grid.Column("name",header: "Item Name"),
     grid.Column("Desc",header: "Description"),
     grid.Column(header: "Action", canSort: false, style: "action  col-lg-2",
             format: (item) => new HtmlString("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href=" + @Url.Action("Edit", new { id = item.id }) + " title='Edit' ><i class='glyphicon glyphicon-edit'></i><span class='sr-only'>Edit</span> </a> "
                // + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href=" + @Url.Action("ItemQuantity", new { id = item.id }) + " title='Add Quantity'  target='_blank '><i class='anchorDetail glyphicon glyphicon-plus' ></i><span class='sr-only'>Add Quantity</span> </a> "
                //// + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href=" + @Url.Action("ItemQuantity", new { id = item.id }) + " title='Add Item Quantity' ><i class='glyphicon glyphicon-plus'></i><span class='sr-only'>Add Item Quantity</span> </a> "
                 //+ "&nbsp;&nbsp;&nbsp; <a href=" + @Url.Action("AssignmentID","RAssignments", new { id = item.BookID }) + " title='View Assign Room(s)' ><i class='glyphicon glyphicon-list-alt'></i><span class='sr-only'>View Assign Room(s)</span> </a> "
                 //+ "&nbsp;&nbsp;&nbsp; <a href=" + @Url.Action("ChangeStatus", new { id = item.id }) + " title='Bill' ><i class='glyphicon glyphicon-xbt'></i><span class='sr-only'>Bill</span> </a> "
                // + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href=" + @Url.Action("AssignmentID","RAssignments", new { id = item.Booking.RefNo }) + " title='View Assign Room(s)' ><i class='glyphicon glyphicon-plus'></i><span class='sr-only'>View Assign Room(s)</span> </a> "
                /*ChangeGRoomStatus + RAssignments"&nbsp;&nbsp;&nbsp;&nbsp; <a href=" + @Url.Action("Delete", new { id = item.id }) + "  title='Delete' ><i class='glyphicon glyphicon-trash'> </i> </a> "*/))
                                                                  }
                                                         )
}
else
{
    <h3 style="color:red;">No Department record found</h3>
}















@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
